@if (Context.User.Identity.IsAuthenticated)
{

    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Perfil">Mi Perfil</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Pedidos">Mi Pedidos</a>


    <a class="nav-link" asp-controller="Managed" asp-action="Logout">
        Log Out
        <span style="color:blue">@Context.User.Identity.Name</span>
    </a>
}
else
{
    <a class="nav-link text-danger" asp-controller="Managed" asp-action="Register">
        Register
    </a>
    <a class="nav-link text-danger" asp-controller="Usuarios" asp-action="Index">
        Log In
    </a>
}
